.race-tracks-overview {

	/* class that provides layout for all tracks */
	text-align: center;
	margin-bottom: 6em;
}

.race-tracks-overview .race-tracks-overview__title {
	font-size: 3em;
	margin: 1em 0;
}

.race-tracks-overview .race-tracks-overview__message {

	/* Styles for message when no cars are selected */
	font-size: 2em;
	padding: 6em 0;
	background-color: #eeeeee;
}

.race-tracks-overview .race-tracks-overview__button {

	/* start button styles */
	text-align: right;
}
