.car-preview {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 1.5em;
	background-color: #eeeeee;
	height: 100%;
	width: 100%;
	min-height: 18.75em;
	max-height: 40.75em;
}

.car-preview__card {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}

.car-preview .car-preview__image {
	max-width: 100%;
	flex-shrink: 0; /* fix for IE11 issue https://stackoverflow.com/questions/36822370/flexbox-on-ie11-image-stretched-for-no-reason */
}

.car-preview .car-preview__title {
	font-size: 3em;
}
