.cars-overview-grid .cars-overview-grid__item {
	padding: 0.6em; /* create gap between car images */
}

.cars-overview-grid .cars-overview-grid__message {
	font-size: 3em;
	text-align: center;
	padding: 6em 0;
	background-color: #eeeeee;
}
